h2 {
	color: #CCCCCC;
	text-align: center;
}

div.dt-buttons {			
	text-align: center;
}

div.modal {

	border: 1px solid #000;
	padding: 20px;
	display: none;
	z-index: 1;
	margin: auto;
	background-color: #F4F4F4;
	width: 400px;
	height: 330px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

div.modal input {
	width: 340px;
}

div.modal textarea {
	width: 340px;
}

div.modal label {
	margin-top: 10px;
}

div.modal span {
	font-weight: bold;
	font-size: 12pt;
}

div.modal .close {
    color: #CC0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
	opacity:.8;
}

button {
	font-size: 12px;
	font-weight: bold;
}