h2 {
	color: #888585;
	text-align: center;
}

div.dt-buttons {
	text-align: center;
}

.top-buffer {
	margin-top: 20px;
}

.header-row {
	margin-top: 40px;
}

.a_button, .a_button:hover {
	text-decoration: none;
	color: black;
	/*float: right;
	margin-right: 5px;*/
}

.span_button {
      appearance: button; /* CSS3 */
      -webkit-appearance: button; /* Safari and Chrome */
      -moz-appearance: button; /* Firefox */
      -ms-appearance: button; /* Internet Explorer */
      -o-appearance: button; /* Opera */
      padding: 2px 10px 2px 10px;
} 

#execution_edit_modal {
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
    background-color: rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#execution_edit {
	position: relative;
	border: 1px solid #000;
	padding: 20px;
	margin: 10% auto;
	background-color: #F4F4F4;
	width: 400px;
	height: 330px;
	border-radius: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.25s;
    animation-name: animatetop;
    animation-duration: 0.25s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#execution_edit input {
	width: 355px;
}

#execution_edit textarea {
	width: 355px;
	height: 120px;
}

#execution_edit label {
	margin-top: 10px;
}

#execution_edit span {
	font-weight: bold;
	font-size: 12pt;
}

#execution_edit .close {
    color: #CC0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
	opacity:.8;
}

#execution_edit .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.commentStar {
	cursor: pointer;
	font-size: 12pt;
	color: #337ab7;
}

.commentStar:hover {
	cursor: pointer;
	color: #006;
}