::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.sidebar .nav-link.active {
    background-color: #428bca;
    color: #fff;
}

iframe {
    height: calc(100vh - 70px);
    border: none;
    display: block;
    width: 100%;
}

*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}