# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.project
.classpath
.settings

#Intellij files
*.iml
.idea/

#Java and Maven
*.class
*.jar
target
lib

#TestNG
null/
test-output/

#NetBeans files
nbproject

#Project files
difido-server/docRoot/reports
difido-server/docRoot/meta.json
difido-server/data
difido-server/config/difido_config.properties
difido-server/log
difido-server/htmlTemplate
difido-testng/remoteDifido.properties
!difido-nunit/difido-client/Resources/difido-reports-common.jar
