# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.project
.classpath
.settings

#Intellij files
*.iml
.idea/

#Java and Maven
*.class
*.jar
target
lib

#TestNG
null/
test-output/

#NetBeans files
nbproject

#Project files
server/difido-server/docRoot/reports
server/difido-server/docRoot/meta.json
server/difido-server/data
server/difido-server/log
server/difido-server/htmlTemplate
server/difido-testng/remoteDifido.properties
!binders/difido-nunit/difido-client/Resources/difido-reports-common.jar
binders/difido-testng/remoteDifido.properties
binders/difido-testng/difido.properties
examples/testng-example/remoteDifido.properties
examples/testng-example/difido.properties
examples/jsystem-example/tests-project/difido.properties
examples/jsystem-example/tests-project/remoteDifido.properties
examples/jsystem-example/tests-project/jsystem0.log.lck
!server.log
.metadata/
.recommenders/
