<h2>
#if ($meta.numOfFailedTests > 0)
<font color="red">
Execution that started in $meta.timestamp has finished with failures
</font>
#else
<font color="green">
Execution that started in $meta.timestamp has finished with no failures
</font>
#end
</h2>
<hr>
<br>
<h3>Summary</h3>
<hr>
<table border="1" style="width:100%">
	<tr>
		<th>Title</th>
		<th>Number</th>
	</tr>
	<tr>
		<td>Number of machines</td>
		<td>$meta.numOfMachines</td>
	</tr>
	<tr>
		<td>Number of tests</td>
		<td>$meta.numOfTests</td>
	</tr>
	<tr>
		<td>Number of successful tests</td>
		<td>$meta.numOfSuccessfulTests</td>
	</tr>
	<tr>
		<td>Number of tests with warning</td>
		<td>$meta.numOfTestsWithWarnings</td>
	</tr>

</table>
<br>
<h3>Tests</h3>
<hr>
<table border="0" style="width:100%">
#foreach( $machine in $meta.execution.machines)
	#foreach ($child in $machine.getChildren(true))
		#if ($child.class.simpleName == "TestNode")
			<tr>
				<td>  </td>
				<td> <a href="http://$host:$port/$meta.uri.replace("index.html","tests/test_$child.uid/test.html")">$child.name</a></td>
				#if ($child.status == "success")
					<td bgcolor="green"><font color="white"> $child.status </font></td>
				#else
					<td bgcolor="red"><font color="white"> $child.status </font></td>
				#end
			</tr>
		#else
			<tr>
				<td colspan="3"> <b>$child.name</b> </td>
			</tr>
			
		#end

	#end
#end
</table>
<p>
<br>
<hr>
Full report can be found in this <a href="http://$host:$port/$meta.uri">link</a> 
</p>