.timestamp{
    padding-right: 10px;
    color: gray;
}

/* initially hide all non root divs */
#detailsDiv div >div{
    display: none;
}

#detailsDiv .step {color: #4E6CA3;}

/* Test Statuses */
#detailsDiv .failure > span {
    color: #ff0000 !important;
}
#detailsDiv .warning > span {
    color: #FF9933;
}
#detailsDiv .error > span {
    color: #4682B4;
}

#detailsDiv div{
    word-wrap: break-word;
    margin: 5px 0 5px 0;
}

.smallTbl { padding: 0; border: 0; width: 70% ; font-size: small}
h3 {color: gray ; font-size: small}
img {width: 100px}

.innerToggle {
    color: blue;
    cursor: pointer;
}

.startLevel {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

.emptyStartLevel{
    color: blue;
    font-weight: bold;
}

.startLevel.closed:before{
    content: "+ ";
}

.emptyStartLevel,
.startLevel:not(closed):before{
    content: "- ";
}

.pointer{
    cursor: pointer;
}