
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tests table table-layout:fixed;
 */

/*.toggle {color:#191970;}*/
/* Time stamp */
.detailsTbl tbody tr td:first-child {text-align: left; color: gray ;}
.detailsTbl tbody td {text-align: left; }
/* Header */
.detailsTbl > thead th {text-align: left}
.detailsTbl {padding:10px ;  border-spacing: 0px;border:1px solid #E0E0E0;width:100%}
.detailsTbl tr td:first-child,.testtbl tr th:first-child {width:100px;}

.detailsTbl .toggle {
    color: blue;
    cursor: pointer;
}
.detailsTbl .step td:last-child {height:35px; font-size: medium ;color: #4E6CA3;}
/******
* Test Statuses
*/
.detailsTbl .failure { color: #ff0000; }
.detailsTbl .warning { color: #FF9933; }
.detailsTbl .error { color: #4682B4; }

.smallTbl { padding: 0; border: 0; width: 70% ; font-size: small}
h3 {color: gray ; font-size: small}
img {width: 100px}

.startLevel {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}