/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2014, 9:25:17 AM
    Author     : Itai
*/

.jstree-classic li[rel="succeess"] > a { color:green; }
.jstree-node.error , jstree-node.failure , .jstree-anchor.error , .jstree-anchor.failure{
    color: rgb(216, 14, 14) !important;
    font-weight: bold;
}
.jstree-node.success , .jstree-anchor.success{
    /* in case we want different style for success status */
}
.jstree-node.warning , .jstree-anchor.warning{
    /* in case we want different style for warning status */
}

#tree {
    overflow: auto;
    min-height: 704px;
    max-height: 720px
}