/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2014, 9:25:17 AM
    Author     : Itai
*/


.vertical-line {
    width: 1px;
    height: 300px;
    background-color: #696969;
    margin: 0 auto;
}

.jstree-classic li[rel="succeess"] > a { color: rgb(136,238,136); }
.jstree-node.failure, .jstree-anchor.failure {
    color: rgb(255,153,51) !important;
    font-weight: bold;
}
.jstree-node.error , .jstree-anchor.error {
    color: rgb(224,0,0) !important;
    font-weight: bold;
}
.jstree-node.success , .jstree-anchor.success{
    /* in case we want different style for success status */
}
.jstree-node.warning , .jstree-anchor.warning{
    color: rgb(245,245,0);
}

#tree {
    overflow: auto;
    min-height: 704px;
    max-height: 720px
}